<!-- Footer -->
<footer class="bg-body-tertiary text-muted mt-auto">

    <!-- Copyright -->
    <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.05);">
        <p>
            <a href="{{path('app_mention')}}" class="text-reset">Mentions légales</a>
        </p>
        © Santé&Bonheur
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

