{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}

<div class="example-wrapper">
    <div class="container position-absolute top-50 start-50 translate-middle col-10">
        <h2 class="text-success">Mentions légales du site <span class="text-danger">Sante & Bonheur</span></h2>
        <div class="col-md-11">
            <p>Les présentes mentions légales (ci-après les « Mentions Légales ») ont pour objet d’informer tout Utilisateur consultant le Site sur son identité, son activité et son contenu.
            L’Utilisateur est également informé que ces Mentions Légales sont complétées par les Conditions Générales d’Utilisation,
            sa Charte de protection des données à caractère personnel.
            </p>
            <p>SANTE&BONHEUR se réserve le droit de modifier et mettre à jour à tout moment le contenu des Mentions Légales sans préavis,
                à sa seule initiative à tout moment en cas d’évolution légale, jurisprudentielle, des décisions et recommandations de la Commission nationale de l'informatique et des libertés ou des usages.
                Toute nouvelle version des présentes Mentions Légales sera portée à la connaissance des Utilisateurs par sa mise en ligne et sera considérée comme se substituant à la version précédente.
                Dernière mise à jour le 1er Septembre 2020.
            </p>
        </div>
    </div>
</div>

{% endblock %}
